@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}


.background-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #87CEEB, #1E90FF, #20B2AA);

}



/* .background-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('admin/dist/img/auth/backgroundLogin.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 80%;
} */

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color: white;
    /* background: transparent; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

h2{
    font-size: 2em;
    color: #000000;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000000;
}
.inputbox label{
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #000000;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #000000;
    display: flex;
    /* justify-content: space-between;   */
    justify-content: center;
    align-items: center;
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #000000;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #000000;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
